@page

@model IndexModel
@{
    ViewData["Title"] = "Security cameras Utrecht";
}

@section Styles
{
    <style type="text/css">
        #source {
            background: rgba(27, 31, 35, 0.08);
            width: 290px;
            padding: 8px;
            border-radius: 20px;
            margin: 15px auto;
            text-align: center;
        }

        #source a {
            font-weight: bold;
        }

        table td {
            vertical-align: top;
        }

        table thead tr:nth-child(1) th {
            height: 75px;
            background-color: #272727;
            color: #7F7F7C;
            font-size: 3.0em;
        }

        table tr:nth-child(2) th {
            text-align: left;
            height: 25px;
        }

        h1 {
            padding: 20px 0 20px 55px;
            margin: 0 0 0 20px;
            background: url("video-camera-icon.png") no-repeat;
            background-size: 40px;
            background-position: 0 50%;
        }

        #cameraTableContainer {
            margin: 0 0 20px 0;
            width: 100%;
            padding: 0 20px;
            height: 100%;
            vertical-align: top;
        }

        #cameraTableContainer > td {
            width: 25%;
            text-align: center;
        }

        #cameraTableContainer table {
            width: 450px;
            margin: auto;
            height: 100%;
            border-collapse: collapse;
        }

        #cameraTableContainer table tbody tr {
            height: 25px;
            vertical-align: middle;
        }

        #cameraTableContainer table tbody td {
            padding: 5px 0;
        }

        #cameraTableContainer table td:nth-child(1) {
            height: 15px !important;
            margin-right: 15px;
            font-weight: bold;
            border-radius: 20px;
        }

        #cameraTableContainer table tr:last-child td {
            height: 100%;
        }

        #map {
            margin: auto;
            height: 500px;
            width: 100%;
        }

        .camera-row:hover {
            font-weight: bold;
        }
    </style>
}

@section Scripts
{   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2bVfivslX1qqd20wVg_Jin-nuXKjGB-0" async defer></script>
    <script type="text/javascript">
        const cameras = @Html.Raw(Json.Serialize(Model.Cameras));
        let markers = {};

        function initializePage() {
            initializeMap();
            placeMarkers();
            hookCameraRowMouseOvers();
        }

        function initializeMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 52.091497, lng: 5.116731},
                zoom: 13
            });
        }

        function placeMarkers() {
            for(let camera of cameras) {
                let position = new google.maps.LatLng(camera.latitude, camera.longitude);
                markers[camera.number] = new google.maps.Marker({position: position, map: map, title: camera.name});
            }
        }

        function hookCameraRowMouseOvers() {
            let rows = document.querySelectorAll(".camera-row");
            for (let row of rows) {
                let cameraNumber = row.dataset.cameraNumber;
                let marker = markers[cameraNumber];

                row.onclick = () => {
                    map.setCenter(marker.getPosition());
                    map.setZoom(20);
                };
                row.onmouseover = () => {
                    marker.setAnimation(google.maps.Animation.BOUNCE);
                };
                row.onmouseout = () => {
                    marker.setAnimation(null);
                };
            }
        }

        window.onload = initializePage;
    </script>
}

<h1>Security cameras Utrecht</h1>
<div id="map"></div>
<div id="source">
    source:
    <a href="https://data.overheid.nl/data/dataset/camera-s">https://data.overheid.nl/data/dataset/camera-s</a>
</div>
<main>
    <table id="cameraTableContainer">
            <tbody>
                <tr>
                    <td>
                        <table id="column3">
                            <thead>
                                <tr>
                                    <th colspan="4">Cameras 3</th>
                                </tr>
                                <tr>
                                    <th>Number</th>
                                    <th>Name</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var camera in Model.CategorizedCameras[0])
                                {
                                <tr class="camera-row" data-camera-number="@camera.Number">
                                    <td>@camera.Number</td>
                                    <td>@camera.Name</td>
                                    <td>@camera.Latitude</td>
                                    <td>@camera.Longitude</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table id="column5">
                            <thead>
                                <tr>
                                    <th colspan="4">Cameras 5</th>
                                </tr>
                                <tr>
                                    <th>Number</th>
                                    <th>Name</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var camera in Model.CategorizedCameras[1])
                                {
                                <tr class="camera-row" data-camera-number="@camera.Number">
                                    <td>@camera.Number</td>
                                    <td>@camera.Name</td>
                                    <td>@camera.Latitude</td>
                                    <td>@camera.Longitude</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table id="column15">
                            <thead>
                                <tr>
                                    <th colspan="4">Cameras 3 &amp; 5</th>
                                </tr>
                                <tr>
                                    <th>Number</th>
                                    <th>Name</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var camera in Model.CategorizedCameras[2])
                                {
                                <tr class="camera-row" data-camera-number="@camera.Number">
                                    <td>@camera.Number</td>
                                    <td>@camera.Name</td>
                                    <td>@camera.Latitude</td>
                                    <td>@camera.Longitude</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table id="columnOther">
                            <thead>
                                <tr>
                                    <th colspan="4">Cameras Overig</th>
                                </tr>
                                <tr>
                                    <th>Number</th>
                                    <th>Name</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var camera in Model.CategorizedCameras[3])
                                {
                                <tr class="camera-row" data-camera-number="@camera.Number">
                                    <td>@camera.Number</td>
                                    <td>@camera.Name</td>
                                    <td>@camera.Latitude</td>
                                    <td>@camera.Longitude</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
    </table>
</main>
